<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>

	<!-- Bootstrap -->
	<link href="/css/main.css" rel="stylesheet">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com" rel="preconnect">
	<link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
	<link
		href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@900&family=Montserrat:wght@500;600&family=Noto+Sans+KR:wght@100;300&display=swap"
		rel="stylesheet">

</head>
<header th:replace="fragments/header :: header">
	<a href="/"><p class="text-dark">Shop</p></a>
</header>
<body>
<div class="container">
	<div>
		<nav th:replace="fragments/nav :: nav"></nav>
	</div>
	<section class="find-form">
		<h3>Change Password</h3>
		<form method="post" role="form" th:action="@{/member/password/change}" th:object="${changePasswordForm}">
			<input name="userId" th:value="${changePasswordForm.userId}" type="hidden"/>
			<input name="name" th:value="${changePasswordForm.name}" type="hidden"/>
			<div class="form-group">
				<input class="find-form-control" placeholder="비밀번호" th:class="${#fields.hasErrors('password')}? 'find-form-control fieldError' : 'find-form-control'" th:field="*{password}"
							 type="text"/>
				<p class="error" th:errors="*{password}"
					 th:if="${#fields.hasErrors('password')}">Incorrect date</p>
			</div>
			<div class="form-group">
				<input class="find-form-control" placeholder="비밀번호 확인" th:class="${#fields.hasErrors('checkPassword')}? 'find-form-control fieldError' : 'find-form-control'" th:field="*{checkPassword}"
							 type="text"/>
				<p class="error" th:errors="*{checkPassword}"
					 th:if="${#fields.hasErrors('checkPassword')}">Incorrect date</p>
			</div>
			<br>
			<div class="middle-box">
				<button class="submit-btn btn-lg" type="submit">SUBMIT</button>
			</div>
		</form>
		<div th:replace="fragments/sidebar :: side"></div>
	</section>
</div>
<br/>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>