<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
	<th:bloc th:replace="~{fragments/config::config}"></th:bloc>
</head>
<header th:replace="~{fragments/header :: header}">
	<a href="/"><p class="text-dark">Shop</p></a>
</header>
<body>
<div class="container">
	<div>
		<nav th:replace="~{fragments/nav :: nav}"></nav>
	</div>
	<section class="find-form">
		<h3>Find id</h3>
		<form method="post" role="form" th:action="@{/member/id/find}" th:object="${findIdForm}">
			<div class="form-group">
				<input class="find-form-control" placeholder="이름" th:field="*{name}" type="text"/>
			</div>
			<div class="form-group">
				<input class="find-form-control" placeholder="이메일" th:field="*{email}" type="text"/>
			</div>
			<br>
			<div class="middle-box">
				<button class="submit-btn btn-lg" type="submit">SUBMIT</button>
			</div>
		</form>
		<div th:replace="~{fragments/sidebar :: side}"></div>
	</section>
</div>
<br/>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>