<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
	<th:bloc th:replace="~{fragments/config::config}"></th:bloc>
</head>
<header th:replace="~{fragments/header :: header}"></header>
<body>
<div class="container">
	<div>
		<nav th:replace="~{fragments/nav :: nav}"></nav>
	</div>
	<section class="login">
		<h3>Log-in</h3>
		<form method="post" role="form" action="/member/login">
			<div class="form-group">
				<input class="login-form-control" name="username" placeholder="ID" type="text"/>
			</div>
			<div class="form-group">
				<input class="login-form-control" name="password" placeholder="PASSWORD" type="password"/>
			</div>
			<ul class="log-info">
				<li>
					<a href="/member/id/find">FORGOT ID</a>
				</li>
				<li>
					<a href="/member/password/find">FORGOT PASSWORD</a>
				</li>
			</ul>
			<div class="middle-box">
				<button class="login-btn btn-lg" type="submit">Log-in</button>
				<button class="register-btn btn-lg" type="button"><a href="/member/join">Register</a></button>
			</div>
			<div th:replace="~{fragments/sidebar :: side}"></div>
		</form>
	</section>
</div>
<br/>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
    $(document).ready(function () {
        const message = "[[${findPasswordFailMessage}]]" || "[[${changePasswordMessage}]]" || "[[${findIdFailMessage}]]" || "[[${loginFailMessage}]]";
        if (message != "") {
            alert(message);
        }
    })
</script>
</html>