<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>

  <!-- Bootstrap -->
  <link href="/css/main.css" rel="stylesheet">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@900&family=Montserrat:wght@500&family=Noto+Sans+KR:wght@100;300&display=swap"
    rel="stylesheet">

</head>
<header th:replace="fragments/header :: header">
  <a href="/"><p class="text-dark">Shop</p></a>
</header>
<body>
<div class="container">
  <div>
    <nav th:replace="fragments/nav :: nav"></nav>
  </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>아이디</th>
        <th>비밀번호</th>
        <th>이름</th>
        <th>휴대전화</th>
        <th>이메일</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="member : ${members}">
        <td th:text="${member.id}">
        <td th:text="${member.userId}"></td>
        <td th:text="${member.password}"></td>
        <td th:text="${member.name}"></td>
        <td th:text="${member.phone}"></td>
        <td th:text="${member.email}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<br/>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>