<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
	<th:bloc th:replace="~{fragments/config::config}"></th:bloc>
</head>
<header th:replace="~{fragments/header :: header}"></header>
<body>
<div class="container">
	<div>
		<nav th:replace="~{fragments/nav :: nav}"></nav>
	</div>
	<form method="post" th:action="@{/order/basket/orderForm}">
		<table class="table">
			<thead>
			<tr>
				<th>#</th>
				<th>이미지</th>
				<th>상품정보</th>
				<th>판매가</th>
				<th>수량</th>
			</tr>
			</thead>
			<!-- 수정 -->
			<tbody>
			<tr th:each="basketProduct : ${basketProducts}">
				<td><input name="basketProductId" th:value="*{basketProduct.id}" type="checkbox"/></td>
				<td class="w-25"><img th:alt="${basketProduct.product.name}" th:src="${basketProduct.product.image}"></td>
				<td th:text="${basketProduct.product.name}"></td>
				<td th:text="|KRW ${basketProduct.product.price}|"></td>
				<td th:text="${basketProduct.count}"></td>
			</tr>
			</tbody>
		</table>
		<div class="middle-box">
			<button class="submit-btn btn-lg" href="#" type="submit">BUY</button>
			<button class="delete-btn btn-lg" href="#" onclick="change(this.form);" type="submit">DELETE</button>
		</div>
	</form>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
<script>
    function change(form) {
        form.action = '/order/basket/delete';
        form.submit();
    }
</script>
</html>

