<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>

	<!-- Bootstrap -->
	<link href="/css/main.css" rel="stylesheet">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com" rel="preconnect">
	<link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
	<link
		href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@900&family=Montserrat:wght@500&family=Noto+Sans+KR:wght@100;300&display=swap"
		rel="stylesheet">

</head>
<header th:replace="fragments/header :: header">
	<a href="/"><p class="text-dark">Shop</p></a>
</header>
<body>
<div class="container">
	<div>
		<nav th:replace="fragments/nav :: nav"></nav>
	</div>

	<form method="post" th:action="@{/products/new}" th:object="${form}">
		<div class="form-group">
			<label th:for="name">상품명</label>
			<input class="form-control" placeholder="name" th:field="*{name}" type="text">
		</div>
		<div class="form-group">
			<label th:for="ingredient">영양 성분</label>
			<input class="form-control" placeholder="ingredient" th:field="*{ingredient}" type="text">
		</div>
		<div class="form-group">
			<label th:for="image">사진</label>
			<input class="form-control" placeholder="image" th:field="*{image}" type="text">
		</div>
		<div class="form-group">
			<label th:for="price">가격</label>
			<input class="form-control" placeholder="price" th:field="*{price}" type="number" min="0">
		</div>
		<div class="form-group">
			<label th:for="stockQuantity">수량</label>
			<input class="form-control" placeholder="stock quantity" th:field="*{stockQuantity}" type="number" min="0">
		</div>
		<div class="form-group">
			<label th:for="category">카테고리</label>
			<input class="form-control" placeholder="category" th:field="*{category}" type="text">
		</div>
		<div class="middle-box">
			<button class="submit-btn btn-lg" type="submit">SUBMIT</button>
			<a href="/products">
				<button class="basic-btn btn-lg" type="button">ALL PRODUCTS</button>
			</a>
		</div>
	</form>
</div>
<br/>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>