<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>

	<!-- Bootstrap -->
	<link href="/css/main.css" rel="stylesheet">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com" rel="preconnect">
	<link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
	<link
		href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@900&family=Montserrat:wght@400;500;600&family=Noto+Sans+KR:wght@100;300&display=swap"
		rel="stylesheet">

</head>
<header th:replace="fragments/header :: header">
	<a href="/"><p class="text-dark">Shop</p></a>
</header>
<body>
<div class="container">
	<div>
		<nav th:replace="fragments/nav :: nav"></nav>
	</div>
	<div class="grid-container">
		<section class="half-container">
			<img th:alt="${product.name}" th:src="${product.image}">
		</section>
		<section class="half-container">
			<p th:text="${product.name}"></p>
			<p th:text="|KRW ${product.price}|"></p>
			<p th:text="${product.ingredient}"></p>
			<form method="post" role="form" th:action="@{/order/detail/orderForm}"
						th:object="${orderProductForm}">
				<input name="productId" th:value="${product.id}" type="hidden" />
				<div class="form-group">
					<label th:for="count">수량</label>
					<input class="form-control" min="1" placeholder="1" th:field="*{count}" type="number"/>
				</div>
				<div class="middle-box">
					<button class="submit-btn btn-lg" type="submit">Buy</button>
					<button class="submit-btn btn-lg" onclick="cart(this.form);" type="submit">Cart</button>
				</div>
			</form>
		</section>
	</div>
</div>
<br/>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
<script>
    function cart(form) {
        form.action = '/order/basket';
        form.submit();
    }
</script>
</html>

