<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>

	<!-- Bootstrap -->
	<link href="/css/main.css" rel="stylesheet">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com" rel="preconnect">
	<link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
	<link
		href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@900&family=Montserrat:wght@500&family=Noto+Sans+KR:wght@100;300&display=swap"
		rel="stylesheet">

</head>
<header th:replace="fragments/header :: header">
	<a href="/"><p class="text-dark">Shop</p></a>
</header>
<body>
<div class="container">
	<div>
		<nav th:replace="fragments/nav :: nav"></nav>
	</div>
	<div id="product-list">
		<div class="thumbnail" th:each="product : ${products}">
			<a href="#" th:href="@{/products/{id}/edit (id=${product.id})}">
				<img th:alt="${product.name}" th:src="${product.image}">
				<p id="product_name" th:text="${product.name}"></p>
				<p th:text="${product.price}"></p>
				<p th:text="${product.id}"></p>
				<p th:text="${product.ingredient}"></p>
				<p th:text="${product.stockQuantity}"></p>
				<a class="btn btn-primary" href="#" role="button"
					 th:href="@{/products/{id}/edit (id=${product.id})}">edit</a>
			</a>
		</div>
	</div>
	<div th:replace="fragments/sidebar :: side"></div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>