<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>

	<!-- Bootstrap -->
	<link href="/css/main.css" rel="stylesheet">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com" rel="preconnect">
	<link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
	<link
		href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@900&family=Montserrat:wght@500&family=Noto+Sans+KR:wght@100;300&display=swap"
		rel="stylesheet">

</head>
<header th:replace="fragments/header :: header">
	<a href="/"><p class="text-dark">Shop</p></a>
</header>
<body>
<div class="container">
	<div>
		<nav th:replace="fragments/nav :: nav"></nav>
	</div>
	<table class="table table-striped">
		<thead>
		<tr>
			<th>#</th>
			<th>상품명</th>
			<th>가격</th>
			<th>재료</th>
			<th>재고수량</th>
			<th>카테고리</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="product : ${products}">
			<td th:text="${product.id}">
			<td th:text="${product.name}"></td>
			<td th:text="${product.price}"></td>
			<td th:text="${product.ingredient}"></td>
			<td th:text="${product.stockQuantity}"></td>
			<td th:text="${product.category.name}"></td>
			<td>
				<div class="middle-box"><button class="submit-btn btn-lg" type="submit">CHANGE</button></div>
			</td>
		</tr>
		</tbody>
	</table>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>


