<!DOCTYPE html>
<html>
<body>
<th:block th:fragment="config">
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <!-- CSS Fonts -->
  <link href="/css/main.css" rel="stylesheet">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@900&family=Montserrat:wght@100;200;400;500;600;700&family=Noto+Sans+KR:wght@100;300&display=swap"
    rel="stylesheet">
</th:block>
</body>
</html>