<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="side">
	<div class="sidebar-side">
		<ul>
			<li class="btn btn-lg">
				<a class="side-link" href="member/login">LOGIN</a>
			</li>
			<li class="btn btn-lg">
				<a class="side-link" href="member/join">JOIN</a>
			</li>
			<!-- Not yet implemented -->
			<li class="btn btn-lg">
				<a class="side-link" href="#">CART</a>
			</li>
			<li class="btn btn-lg">
				<a class="side-link" href="order/list">ORDER</a>
			</li>
			<li class="btn btn-lg">
				<a class="side-link" href="products/new">DEV</a>
			</li>
		</ul>
	</div>
</div>
</html>