<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="side">
	<div class="sidebar-side">
		<ul>
			<li class="btn btn-lg" th:if="${session.loginMember == null}">
				<a class="side-link" href="/member/login">LOGIN</a>
			</li>
			<li class="btn btn-lg" th:if="${session.loginMember == null}">
				<a class="side-link" href="/member/join">JOIN</a>
			</li>
			<li th:if="${session.loginMember != null}">
				<form th:action="@{/logout}" method="post">
					<button class="btn btn-lg" type="submit">
						LOGOUT
					</button>
				</form>
			</li>
			<!-- Not yet implemented -->
			<li class="btn btn-lg">
				<a class="side-link" href="#">ORDER</a>
			</li>
			<li class="btn btn-lg">
				<a class="side-link" href="/order/basket">BASKET</a>
			</li>
			<li class="btn btn-lg">
				<a class="side-link" href="/products/new">DEV</a>
			</li>
		</ul>
	</div>
</div>
</html>