<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
  <th:bloc th:replace="~{fragments/config::config}"></th:bloc>
</head>
<header th:replace="~{fragments/header :: header}">
  <a href="/static"><p class="text-dark">Shop</p></a>
</header>
<body>
<div class="container">
  <div>
    <nav th:replace="~{fragments/nav :: nav}"></nav>
  </div>
  <div id="category-list">
    <div class="thumbnail" th:each="product : ${products}">
      <a th:href="@{/product/{name}/{productId}/category/{category}/{categoryId} (name=${product.name}, productId=${product.id}, category=${product.category.name}, categoryId=${product.category.id})}">
        <img th:alt="${product.name}" th:src="${product.image}">
        <p id="product_name" th:text="${product.name}"></p>
        <p th:text="|KRW ${product.price}|"></p>
      </a>
    </div>
  </div>
  <div th:replace="~{fragments/sidebar :: side}"></div>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>